<h1>Edit Review for <%=@review.restaurant%></h1>
<p><%=@error%></p>
<form action="/reviews/<%=@review.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label>Title:</label>
  </br>
   <input type="text" name="reviews[title]" value="<%=@review.title%>">
   </br>
  <label>Restaurant:</label>
  </br>
  <input type="text" name="reviews[restaurant]" value="<%=@review.restaurant%>">
  </br>
  <label>Location:</label>
  </br>
  <input type="text" name="reviews[location]" value="<%=@review.location%>">
  </br>
  <label>Star Rating:</label>
  </br>
  <input type="decimal" name="reviews[star_rating]" value="<%=@review.star_rating%>">
  </br>
  <label>Review:</label>
  </br>
  <textarea name="reviews[review]"><%= @review.review %>"></textarea>
  </br>
  <label>Image URL:</label>
  </br>
  <input type="text" name="reviews[image]" value="<%=@review.image%>">  
  </br>
  </br>
  
  <button type="submit">Edit Review</button>
  
  
  <form action="/reviews/<%=@review.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <% if @review.user == current_user %>
  <button type="submit">Delete Review</button>
  <% end %>
  </form>

</form>

