<h1>Restaurant Food Reviews!</h1>
<a href="/reviews/new">Create a Review</a>
<% @review.each do |r| %>
<h2><a href="/reviews/<%=r.id%>"><%= r.restaurant%></a></h2>
<label>Star Rating:</label>
<%=r.star_rating%>
<p><%= r.review%></p>
<img src="<%= r.image%>" alt="review">
<% if current_user == r.user %>
<button><a href="/reviews/<%=r.id%>/edit">Edit</a></button>
<% end %>
<%end%>