

<div class="header">
<u><h1>The Daily Food Reviews!</h1></u> 
</div>
</br>
</br>

<% @review.each do |r| %>

<div class="header2">
  <h2 style="font-family:'Courier New'"><a href="/reviews/<%=r.id%>"><%= r.title%></a></h2>
  </div>
  
<div class="center">
  <h4 style="font-family:'Courier New'">Restaurant: "<%= r.restaurant%>"</h4>
  <img src="<%= r.image%>" alt="review" class="center">
  
  <% if current_user == r.user %>
    <a href="/reviews/<%=r.id%>/edit">Edit</a>
    </div>
  <% end %>
  
<%end%>

